parameters:
	ignoreErrors:
		-
			message: "#^Cannot access offset 'defaultValue' on mixed\\.$#"
			count: 1
			path: src/Builder/FieldBuilder.php

		-
			message: "#^Cannot access offset string on mixed\\.$#"
			count: 1
			path: src/Builder/FieldBuilder.php

